<div class="Tile">
  <p class="Tile__primary" {% if primary_lang and primary_lang != 'en' %}lang="{{ primary_lang }}"{% endif %}>{{ primary }}</p>
  <p class="Tile__secondary">{{ secondary }}</p>
  <a class="Tile__link" href="{{ link_url }}">{{ link_label }}</a>
</div>
