---
layout: default
title: Code snippets
description: 'Ready-to-use code snippets for common problems that can be copied and pasted.'
keywords:
  - code
  - open-source
  - github
permalink: /snippets/
---

{% markdown %}
These are small code snippets usually extracted from more in-depth articles so
they can be easily retrieved and referenced. It should be possible to copy and
paste them with minor effort.
{% endmarkdown %}

{% include "ad.html" %}

{% assign snippets = collections.snippets | sort_by: 'date' %}

<ul class="List">
  {% for snippet in snippets %}
  <li class="List__item">
    {% if snippet.date %}
      <span class="List__secondary-content">
        {{ snippet.date | time }}
      </span>
    {% endif %}

    <a class="List__primary-content" href="{{ snippet.url }}">
      {{ snippet.data.title }}
    </a>

    <ul class="List__tags">
      {% for tag in snippet.data.tags %}
        {% if tag != "snippets" %}
          <li>
            <a class="List__tag" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
