---
layout: default
title: Speaking events
excerpt: An overview of all my talks, past and to come, including slides and videos.
keywords:
- speaking
- talks
- conferences
permalink: /talks/
---

{% markdown %}
Over the last few years I’ve had the amazing opportunity to be a speaker at some
great events. If you would like me to speak at your conference, be sure to get
in touch!
{% endmarkdown %}

<ul class="List">
  {% for event in speaking %}
  <li class="List__item">
    <div class="List__item-inner">
      <span class="List__secondary-content">
        {{ event.date | time }} — {{ event.location }}
      </span>
      <a href="{{ event.link }}" class="List__primary-content" target="_blank" rel="noopener noreferrer">
        {{ event.event }}
      </a>
      {% if event.actions %}
        <ul class="DottedList">
          {% for action in event.actions %}
          <li>
            <a target="_blank" rel="noopener noreferrer" href="{{ action[1] }}">
              {{ action[0] }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
