---
layout: default
---

{% render "styles.liquid",
  inline: site.configuration.inline_assets,
  partials: "
    pages/post,
    components/blockquote,
    components/collection-navigation,
    components/figure,
    components/footnotes,
    components/heading-anchors,
    components/hook,
    components/giscus,
    components/post-edits,
    components/code,
    components/table,
    components/table-of-contents,
    components/tile
  "
%}

<link rel="alternate" type="text/markdown" href="{{ page.url }}index.md" data-helmet>
<meta property="article:author" content="{{ guest | default: site.author }}" data-helmet>
{% if creation_date %}<meta property="article:published_time" content="{{ creation_date | date_to_rfc3339 }}" data-helmet>{% endif %}
{% if update_date %}<meta property="article:modified_time" content="{{ update_date | date_to_rfc3339 }}" data-helmet>{% endif %}
{% for tag in tags %}<meta property="article:tag" content="{{ tag }}" data-helmet>{% endfor %}

{% assign reading_time = content | strip_html | reading_time %}
{% assign post_image = image | default: '/assets/images/favicon-192.jpg' %}
{% assign created_date_str = creation_date | date: "%Y-%m-%d" %}
{% assign updated_date_str = update_date | date: "%Y-%m-%d" %}

{% assign was_updated = updated_date_str and updated_date_str != created_date_str %}
{% assign itemref = "post-title post-date-published post-reading-time" %}
{% if was_updated %}{% assign itemref = itemref | append: " post-date-modified" %}{% endif %}
{% if guest %}{% assign itemref = itemref | append: " post-author" %}{% endif %}

{% if post_image contains '://' %}
  {% assign post_image_url = post_image %}
{% else %}
  {% assign post_image_url = post_image | prepend: site.url %}
{% endif %}

<script type="application/ld+json" data-helmet>{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ title | jsonify }},
  "description": {{ description | default: site.description | strip_html | strip_newlines | truncate: 200 | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ guest | default: site.author | jsonify }}
  },
  "publisher": {
    "@type": "Person",
    "name": {{ site.author | jsonify }},
    "url": {{ site.url | jsonify }}
  },
  {% if creation_date %}"datePublished": "{{ creation_date | date_to_rfc3339 }}",{% endif %}
  {% if update_date %}"dateModified": "{{ update_date | date_to_rfc3339 }}",{% endif %}
  {% if reading_time.iso %}"timeRequired": {{ reading_time.iso | jsonify }},{% endif %}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ page.url | prepend: site.url | jsonify }}
  },
  "url": {{ page.url | prepend: site.url | jsonify }},
  "image": {{ post_image_url | jsonify }}
}</script>

{% if toc != false %}
  {% assign toc_items = content | table_of_contents %}
{% endif %}

{% render "post_header.liquid",
  title: title,
  created_at: creation_date,
  updated_at: update_date,
  guest: guest,
  reading_time: reading_time,
  toc_items: toc_items,
  toc_flat: toc_flat
%}

<main class="Main" role="main" id="main">
  <div class="Container">
    <article itemscope itemtype="https://schema.org/Article" itemref="{{ itemref }}" class="Post">
      {% if deprecated %}
        {% render "post_deprecated.liquid", date: creation_date %}
      {% endif %}

      {% if edits %}
        {% render "post_edits.liquid", edits: edits %}
      {% endif %}
      
      <div itemprop="articleBody">
        {{ content }}
      </div>

      {% render "job_notice.liquid",
        class: "Hook",
        label: "Pssst!",
        job_notice: site.job_notice
      %}

      {% footnotes page %}
    </article>

    {% render "giscus.liquid" %}

    {% assign navigation_collection = collections.posts %}
    {% if site.environment != "production" %}
      {% comment %}
       In development, we have shortcuts using left and right arrow to navigate
       between the posts, which rely on this navigation. External post are a 
       problem, so we exclude them in development.
      {% endcomment %}
      {% assign navigation_collection = collections.internal_posts %}
    {% endif %}

    {% render "collection_navigation.liquid",
      page: page,
      collection: navigation_collection,
      label: "post"
    %}
  </div>

  {% comment %}
  It’s not ideal having to render the theme button here instead of inside the 
  default layout, but it should live within a landmark, so that’s kinda the only
  option. The alternative is to place it inside the navigation, but it’s not 
  semantically correct because it’s not a navigational element.
  {% endcomment %}
  {% render "theme_button.liquid" %}
</main>

{% render "script.liquid",
  inline: site.configuration.inline_assets,
  partials: "utilities, post"
%}

{% if site.environment != "production" %}
  {% render "script.liquid",
    inline: site.configuration.inline_assets,
    partials: "post-shortcuts"
  %}
{% endif %}
