{% comment %}
	Required:
		- primary: The primary content for the card
		- secondary: The secondary content for the card
	Optional:
		- image: The card image
		- image_alt: Alt text when an image is set
		- url: The link for the card
		- tags: The tags for the card
		- actions: The actions for the card
		- image_style: Style attribute for the card image
{% endcomment %}

{% ensure primary, "Required value 'primary' is missing in card.liquid" %}
{% ensure secondary, "Required value 'secondary' is missing in card.liquid" %}

{% assign alt = image_alt | default: '' %}

<div class="Card">
	{% if image %}
	<img
		class="Card__image"
		src="{{ image }}"
		alt="{{ alt }}"
		{% if image_style %}style="{{ image_style }}"{% endif %}
		eleventy:widths="480,960"
		sizes="(min-width: 1100px) 32vw, (min-width: 720px) 46vw, 92vw"
	/>
	{% endif %}
	<div class="Card__content">
		{% if tags %}
		<div class="Card__tags">
			{% render "tags.liquid", tags: tags, no_link: true %}
		</div>
		{% endif %}
		<p class="Card__title">
			{% if url %}
			<a class="Card__cta" href="{{ url }}">{{ primary }}</a>
			{% else %}
				{{ primary }}
			{% endif %}
		</p>
		<p class="Card__secondary">{{ secondary }}</p>
		{% if actions %}
		<div class="Card__actions">
			{% for action in actions %}
				<a class="Card__action NoBackground" href="{{ action.url }}">{{ action.label }}</a>
			{% endfor %}
			</div>
		{% endif %}
	</div>
</div>