{% comment %}
  Required:
  - items: The items to render
{% endcomment %}

{% ensure items, "Required value 'items' is missing in post_list.liquid" %}

<ul class="List NoListMarker">
  {% for item in items %}
    {% assign url  = item.url %}
    {% assign data = item.data %}
    
    <li class="List__item"{% if data.archive_post_number %} data-index="{{ data.archive_post_number }}"{% endif %}>
      <span class="List__secondary-content">
        {{ item.date | time }}
        {% if data.guest %} by {{ data.guest }}{% endif %}
        {% if data.external %} at {{ data.external.host }}{% endif %}
      </span>
    
      <span class="List__primary-content">
      {% if data.external %}
        <a {% if data.lang %}hreflang="{{ data.lang | downcase }}"
          lang="{{ data.lang | downcase }}" {% endif %} href="{{ data.external.url }}" target="_blank"
          rel="noopener noreferrer">
          {{ data.title }}
        </a>
      {% else %}
        <a {% if data.lang %}hreflang="{{ data.lang | downcase }}"
          lang="{{ data.lang | downcase }}" {% endif %} href="{{ item.url }}"
          style="view-transition-name: post-{{ item.url | slugify }}">
          {{ data.title }}
        </a>
      {% endif %}
    </span>

      {% if data.tags %}
        {% render "tags.liquid", tags: data.tags %}
      {% endif %}
    </li>
  
  {% endfor %}
</ul>
