{% comment %}
  Required:
  - created_at: The original creation/published date
  Optional:
  - updated_at: Last updated date of the post
  - reading_time: The reading time of the post
  - guest: The guest of the post
{% endcomment %}

{% ensure created_at, "Required value 'created_at' is missing in post_metadata.liquid" %}

{% capture rest %}
{%- if guest %}, by <span itemprop="author" id="post-author">{{ guest }}</span>{% endif %}
<span class="Fleuron" aria-hidden="true">❦</span> {% if reading_time %}<span itemprop="timeRequired" id="post-reading-time" title="Estimated read time">{{ reading_time.display }}</span>{% endif %}
{% endcapture %}

<p class="PostMetadata">
  {% if not updated_at %}
    {{ created_at | time: "datePublished", "post-date-published" }}
    {{ rest }}
  {% else %}
    {% assign created_date = created_at | date: "%Y-%m-%d" %}
    {% assign updated_date = updated_at | date: "%Y-%m-%d" %}
    {% assign was_updated = updated_date != created_date %}
  
    {% if was_updated %}
      {{ created_at | time: "datePublished", "post-date-published" }}{{ rest }}
      <span class="PostMetadata__updated">Edited on {{ updated_at | time: "dateModified", "post-date-modified" }}</span>
    {% else %}
      {{ created_at | time: "datePublished", "post-date-published" }}{{ rest }}
    {%  endif  %}
  {% endif %}
</p>
