---
layout: default
---

{% include "styles.html", partials: "
components/collection-navigation,
components/figure,
components/footnotes,
components/giscus,
components/post-date,
components/code,
components/table,
components/tile
" %}

<article itemscope itemtype="https://schema.org/Article" class="Post">
  {% if page.date %}
  <p class="PostDate">
    <span itemprop="datePublished">{{ page.date | time }}</span>
    {%- if guest %}, by <span itemprop="author">{{ guest }}</span>{% endif %}
    {% if external %}{% else %}<span itemprop="timeRequired" title="Estimated read time">· {{ content | strip_html |
      reading_time }}</span>{% endif %}
  </p>
  {% endif %}

  {% include "ad.html" %}

  {% if external %}
  <p>
    This article is not hosted on <a href="/">kittygiraudel.com</a>. You will be
    automatically redirected to <a href="{{ external.url }}">{{ external.host }}</a>
    to read it. If it doesn’t work, please manually follow the link.
  </p>
  {% endif %}

  <div itemprop="articleBody">
    {% include "post_edits.html", edits: edits %}

    <div class="Tile" style="margin-top: var(--vb);">
      <p style="margin: 0"><strong>Pssst!</strong> I am currently looking for my next job opportunity for March 2026!<br><a href="https://www.linkedin.com/posts/kitty-giraudel_my-mission-as-vp-of-engineering-at-scilife-activity-7392127545925713921-qoGi?utm_source=share&utm_medium=member_desktop&rcm=ACoAADH-Z8wBKlEvSxzpoXA6lJuBciBD7TZuM0M" rel="noopener noreferrer">Read more on LinkedIn</a>. ✨</p>
    </div>

    {{ content }}
  </div>

  {% footnotes page %}
</article>


<script src="https://giscus.app/client.js"
        data-repo="kittygiraudel/site"
        data-repo-id="MDEwOlJlcG9zaXRvcnk4MjUzNjQ0"
        data-category="Announcements"
        data-category-id="DIC_kwDOAH3wzM4ChZC4"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

{% include "collection_navigation.html",
page: page,
collection: collections.posts,
name: "post"
%}
{% include "script.html", partials: "post" %}
