---
layout: default
---

{% include "styles.html", paths: "
  components/collection-navigation,
  components/image,
  components/footnotes,
  components/post-date,
  components/code,
  components/table
" %}

<article itemscope itemtype="https://schema.org/Article" class="Post">
  {% if page.date %}
  <p itemprop="datePublished" class="PostDate">
    {{ page.date | time }}
    {%- if guest %}, by <span itemprop="author">{{ guest }}</span>{% endif %}
    {% if external %}{% else %}<span itemtype="timeRequired" title="Estimated read time">· {{ content | strip_html | reading_time }}</span>{% endif %}
  </p>
  {% endif %}

  {% if external %}
  <p>
    This article is not hosted on <a href="/">hugogiraudel.com</a>. You will be
    automatically redirected to <a href="{{ external.url }}">{{ external.host }}</a>
    to read it. If it doesn’t work, please manually follow the link.
  </p>
  {% endif %}

  <div itemtype="articleBody">
    {% include "post_edits.html", edits: edits %}
    {{ content }}
  </div>

  {% footnotes page %}
</article>

{% include "collection_navigation.html",
  page: page,
  collection: collections.posts,
  name: "post"
%}
{% include "script.html", paths: "post" %}
