---
layout: default
---

{% include "styles.liquid", partials: "
  components/code,
  components/collection-navigation,
  components/post-date
" %}

<article class="Post">
  {% if related %}
    {% assign related_post = '' %}
    {% for post in collections.posts %}
      {% if post.url == related %}
        {% assign related_post = post %}
      {% endif %}
    {% endfor %}

    {% if related_post %}
      <p class="PostDate">
        {% if date and show_date != false %}
          {{ date | time }} <span class="Fleuron">❦</span> 
        {% endif %}
        From <a href="{{ related }}">{{ related_post.data.title }}</a>
      </p>
    {% endif %}
  {% endif %}

  {% assign parts = content | split_content %}
  {{ parts[0] }}
  {% include "ad.liquid" %}
  {{ parts[1] }}
</article>

{% include "collection_navigation.liquid",
  page: page,
  collection: collections.snippets,
  label: "snippet"
%}
